/*

Name: Laurence PDF
Version: 1.0
Author: PressBooks (Book Oven Inc.)
Author URI: http://pressbooks.com
License: Creative Commons Attribution 2.0 Generic license
License URI: http://creativecommons.org/licenses/by/2.0/
Tags: basic, simple, serif fonts
Description: Named for English author Jane Austen, this is an traditional book theme, with serif fonts, that works well for fiction and simple-layout non-fiction.
Copyright 2011-2013 Book Oven Inc. (PressBooks.com) support@pressbooks.com
Reference documentation @see: http://www.princexml.com/doc/8.1/
================== */


/* FONTS
=========== */

/* Header font */
@font-face {
  font-family: 'Noto Serif';
  font-weight: normal;
  font-style: normal;
  src: url(../../fonts/NotoSerif-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Noto Serif';
  font-weight: normal;
  font-style: italic;
  src: url(../../fonts/NotoSerif-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'Alegreya SC';
  font-weight: bold;
  font-style: normal;
  src: url(../../fonts/AlegreyaSC-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'PT Serif';
  font-weight: bold;
  font-style: italic;
  src: url(../../fonts/PT_Serif-Web-BoldItalic.ttf) format("truetype");
}




@font-face {
  font-family: 'Open Sans';
  font-weight: light;
  font-style: normal;
  src: url(../../fonts/OpenSans-Light.ttf) format("truetype");
 ;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(../../fonts/LibreBaskerville-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(../../fonts/LibreBaskerville-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(../../fonts/LibreBaskerville-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal;
}




/* DUMMY CONTENT TO COMMIT USING GITHUB CLINET */
/* Override hierarchy. See: http://www.princexml.com/doc/8.1/pdf-bookmarks */
h1, h2, h3, h4, h5, h6 {
  prince-bookmark-level: 1;
}

@page {
  size:6in 9in;
  margin: 2.5cm;
  font-size: 9.5pt;
  orphans:3;
  widows:3;
}



@page :left {
  margin-left: 2cm;
  margin-right: 2cm;
  margin-top: 3cm;

}

@page :right {
  margin-left: 2cm;
  margin-right: 2cm;
  margin-top: 3cm;
}
/* TOC */
@page toc {
  @bottom {
  font-family: "Noto Serif", serif;
  content: "";
  vertical-align: center;
  text-transform: lowercase;
  font-style: 10px;
  }
}
@page toc:blank {
  @bottom {
  content: "";
  }
}
/* Chapter */

@page chapter:left {
  @top{
    margin-top: 175px;
  }
  @top-left {
  font-family: "Noto Serif", serif;
  content: string(section-title);
  text-align: center;
  margin-top: 125px;
  margin-bottom: 75px;
  font-size:7pt;
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
  }
}
@page chapter:right
{
  @top {
    margin-top: 175px;
  }
  @top-right
  {
  font-family: "Alegreya SC", serif;
  content: string(book-title);
  text-transform: uppercase;
  text-align: center;
  margin-top: 125px;
  margin-bottom: 75px;
  font-size: 7pt;
  letter-spacing: 0.25px;
  font-style: normal;
  font-weight: bold;
  }
}
@page chapter:first {
  @top-left {
  content: "";
  }
  @top-right {
  content: "";
  }
  @bottom {
  content: counter(page);
  font-family: "Noto Serif", serif;
  text-align: center;
  vertical-align: top;
  width: 36px;
  margin-bottom: 20px;
  margin-top: 25px;
  font-size:8pt;
  font-style: italic;
  }
}
@page chapter{
  @bottom {
  content: counter(page);
  font-family: "Noto Serif", serif;
  text-align: center;
  vertical-align: top;
  margin-bottom: 20px;
  margin-top: 25px;
  width: 36px;
  font-size: 8pt;
  font-style: italic;
  }
}
@page chapter:blank {

  @top-left {
  content: "";
  }
  @bottom {
    content: "";
  border: none;
  }
}

/* Dedication & Epigraph */
@page dedication,
    epigraph {
  @bottom {
  content:"";
  }
}
@page dedication:blank {
  @bottom {
  content:"";
  }
}

/* Introduction */

@page introduction:left {
  @top-left {
  font-family: "Noto Serif", serif;
  content: string(section-title);
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size:7pt;
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
  }
}
@page introduction:right {
  @top-right {
  font-family: "Alegreya SC", serif;
  content: string(book-title);
  text-transform: uppercase;
  text-align: center;
  margin-top: 125px;
  margin-bottom: 75px;
  font-size: 7pt;
  letter-spacing: 0.25px;
  font-style: normal;
  font-weight: bold;
  }
}

@page introduction:first {
  @top-left {
  content: "";
  }
  @top-right {
  content: "";
  }
  @bottom {
  content: counter(page);
  font-family: "Noto Serif", serif;
  vertical-align: top;
  margin-bottom: 20px;
  margin-top: 25px;
  font-size:8pt;
  font-style: italic;
  }
  
}
@page introduction{
  @bottom {
  content: counter(page);
  font-family: "Noto Serif", serif;
  text-align: center;
  vertical-align: top;
  margin-bottom: 20px;
  margin-top: 25px;
  width: 36px;
  font-size:8pt;
  font-style: italic;
  }
}
@page introduction:blank {

  @top-left {
  content: "";
  }
   @bottom {
    content: "";
  border: none;
  }
}

/* Front-Matter */
@page front-matter:left
{
  @top-left
  {
  font-family: "Noto Serif", serif;
  content: string(section-title);
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size:7pt;
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
  }
}
@page front-matter:right {
  @top-right {
  font-family: "Alegreya SC", serif;
  content: string(book-title);
  text-transform: uppercase;
  text-align: center;
  margin-top: 125px;
  margin-bottom: 75px;
  font-size: 7pt;
  letter-spacing: 0.25px;
  font-style: normal;
  font-weight: bold;
  }
}
@page front-matter:first {
  @top-left {
  content: "";
  }
  @top-right {
  content: "";
  }
   @bottom {
  content: counter(page, lower-roman);
  font-family: "Noto Serif", serif;
  vertical-align: center;
  margin-bottom: 20px;
  margin-top: 25px;
  width: 36px;
  text-transform: lowercase;
  font-size:8pt;
  font-style: italic;
  }
}
@page front-matter{
   @bottom {
    content: counter(page, lower-roman);
    font-family: "Noto Serif", serif;
    text-align: center;
    vertical-align: top;
    margin-bottom: 20px;
    margin-top: 25px;
    width: 36px;
    font-size:8pt;
    font-style: italic;
  }
}
@page front-matter:blank {
    @top-left {
    content: "";
    }
  @bottom {
    content: "";
    border: none;
  }
}

/* Footnotes */
@page {
    @footnotes {
    padding-top: 1em;
  }
}
/* Back-matter */
@page back-matter:left {
  @top{
    margin-top: 175px;
  }
  @top-left {
  font-family: "Noto Serif", serif;
  content: string(section-title);
  text-align: center;
  margin-top: 125px;
  margin-bottom: 75px;
  font-size:7pt;
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
  }
}
@page back-matter:right {
  @top {
    margin-top: 175px; 
  }
  
  @top-right {
  font-family: "Alegreya SC", serif;
  content: string(book-title);
  text-transform: uppercase;
  text-align: center;
  margin-top: 125px;
  margin-bottom: 75px;
  font-size: 7pt;
  letter-spacing: 0.25px;
  font-style: normal;
  font-weight: bold;
  }
}

@page back-matter:first {
  @top-left {
  content: "";
  }
  @top-right {
  content: "";
  }
  @bottom {
  content: counter(page);
  font-family: "Noto Serif", serif;
  text-align: center;
  vertical-align: top;
  width: 36px;
  margin-bottom: 20px;
  margin-top: 25px;
  font-size:8pt;
  font-style: italic;
  
  }
}
@page back-matter{
  @bottom {
  content: counter(page);
  font-family: "Noto Serif", serif;
  text-align: center;
  vertical-align: top;
  margin-bottom: 20px;
  margin-top: 25px;
  width: 36px;
  font-size:8pt;
  font-style: italic;
  }
}
@page back-matter:blank {

  @top-left {
  content: "";
  }
  @bottom {
    content: "";
    border: none;
  }
}

#toc {
  page: toc;
  prince-page-group: start;
}

div.front-matter {
  page: front-matter;
  prince-page-group: start;
}
div.front-matter.dedication {
  page: dedication;
  prince-page-group: start;
}
div.front-matter.epigraph {
  page: epigraph;
  prince-page-group: start;
}
div.front-matter.introduction {
  page: introduction;
  prince-page-group: start;
}
div.introduction {
  counter-reset: page 1;
}

div.chapter {
  page: chapter;
  prince-page-group: start;
}

div.back-matter {
  page: back-matter;
  prince-page-group: start;
}

div.part {
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-top: 2.5cm;
  padding-bottom: 0.25em;
  padding: part;
}
 
body {
     font-family: "Libre Baskerville", "Georgia", "Times New Roman", serif;
     font-size: 8.5pt;
     line-height: 1.6em;
     font-weight: 100;
  }

a {
  border: none;
  color: black;
  text-decoration: none;
}

p {
  text-align: justify;
  margin-bottom: 0;
}
p + p,
.indent {
  text-indent: 1.5em;
  margin-top: 0;
}
.nonindent,
.no-indent {
  text-indent: 0;
  margin-top: 1em;
}

p + ul {
  margin-top: 10px;
}

hr {
  margin: 10px auto;
  text-align: center;
  width: 20%;
}
hr.break-symbols {
  border: none;
  font-size: 1.1em;
    margin-bottom: 20px;
}
hr.break-symbols::after {
  display: block;
  content: "\066D";
  font-size: 10pt;
  text-align: center;
}
table {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.8em;
  border: 1px solid #000;
  border-width: 1px 0;
  margin: 1.5em;
  page-break-inside: avoid;
}
dt {
    float: left;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 0;
}
dd {
  margin-bottom: 0;
}
ul ul,
ul ul ul {
  list-style-type: none;
}
ul li li {
  list-style-image: url('images/em-dash.png');

}
ul li li li {
  list-style-image: none;
}
ul li li li::before {
  content: "\002A";
  font-size: 0.5em;
  margin-right: 5px;
}
ol {
    list-style-type: none;
     counter-reset: level1;
}
ol li::before {
  content: counter(level1) ". ";
  counter-increment: level1;
}
ol ol {
  list-style-type: none;
    counter-reset: level2;
}
ol li li::before {
  content: counter(level1) "." counter(level2) " ";
  counter-increment: level2;
}
ol ol ol {
  list-style-type: none;
    counter-reset: level3;
}
ol li li li::before {
  content: counter(level1) ". " counter(level2) ". " counter(level3) " ";
  counter-increment: level3;
}

cite {
  font-weight: normal;
}
.hanging-indent {
  padding-left: 1em;
  text-indent: -1em;
}
/* HALFTITLE PAGE
==================== */
body > h1.title:first-child {
    string-set: book-title content();
    page-break-after: always;
    bookmark-level: none;
    font-size: 22pt;
    width: 160px;
    margin-top: 5.5cm;
    text-indent: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
    line-height: 42px;
    font-family: "Noto Serif",serif;
    font-style: italic;
}

/* TITLE PAGE
================ */
#title-page {
    page-break-before: right;
    height: 100%;
}

#title-page > .subtitle,
#title-page > div.logo,
#title-page > .author,
#title-page > .publisher,
#title-page > .publisher-city {
  bookmark-level: none;
}
#title-page > .title{
  font-family: "Noto Serif", serif;
  width: 160px;
  margin-top: 6cm;
  margin-left: auto;
  margin-right: auto;
  line-height: 42px;
  font-style: italic;
  text-align: center;
}
#title-page > .subtitle{
  margin-top: 1cm;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  letter-spacing: 0.25px;
  word-spacing: 3px;
  font-family: "Alegreya SC",serif;
  text-align: center;
}

#title-page > div.logo {
  margin-top: 2cm;
  height: 26px;
  background-repeat: no-repeat;
  background-position: bottom center;
}
#title-page .title + div.logo {
  margin-top: 4cm;
}
#title-page > .author {
  margin-top: 0.5cm;
  font-size: 1.2em;
  font-family: "Alegreya SC",serif;
  letter-spacing: 0.25px;
  word-spacing: 3px;
  font-weight: bold;
  text-align: center;

}

#title-page > .publisher {
  font-size: 0.75em;
  float: bottom;
  margin-bottom: -0.25cm;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
 }
#title-page > .publisher-city {
  font-size: 0.75em;
  float: bottom;
  margin-top: 10px;
  margin-bottom: -1.25cm;
  font-weight: 100;
  text-align: center;
}


#copyright-page {
  page-break-before: always;
  font-family: 'Open Sans', sans-serif;
  margin-left: 2cm;
  margin-right: 2cm;

}

#copyright-page p {
  font-size: 8pt/1.1;

  hyphens: none;
  text-align: center;
  text-indent: 0;
  margin-bottom: 0.5em;
}

#copyright-page > .ugc {
  float: top;
}


/* DEDICATION
================ */
.dedication p {
  font-style: italic;
  text-align: center;
}
/* TITLES
=================== */
h3.front-matter-number, h3.part-number, h3.chapter-number, h3.back-matter-number {
  bookmark-level: none;
}

div.ugc h1, div.ugc h2, div.ugc h3, div.ugc h4, div.ugc h5, div.ugc h6 {
  bookmark-level: none;
  page-break-after:avoid;
}
div.ugc h1,
div.ugc h2,
div.ugc h3,
div.ugc h4,
div.ugc h5,
div.ugc h6 {
  font-family: "Noto Serif","Georgia", "Times New Roman", serif;
  text-align: left;
  font-style: italic;
  line-height: 1.1em;
  margin-bottom: 0;
  padding-bottom: 2.5px;
}

div.ugc h1 {
  font-size: 1.2em;
  font-weight: bold;
}

div.ugc h2 {
  font-size: 1em;
  font-weight: bold;
}
div.ugc h3 {
  font-size: 1em;
  font-weight: normal;
}
div.ugc h4 {
  font-size: 0.875em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
}
div.ugc h5 {
  font-size: 0.875em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 2.5px;
}
div.ugc h6 {
  font-size: 0.875em;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 2.5px;
}

div.ugc h1 + p,
div.ugc h2 + p,
div.ugc h3 + p,
div.ugc h4 + p,
div.ugc h5 + p 
div.ugc h6 + p {
  margin-top: 0;
}
div.front-matter > div.ugc h6.short-title:first-of-type,
div.chapter > div.ugc h6.short-title:first-of-type,
div.back-matter > div.ugc h6.short-title:first-of-type {
  string-set: section-title content() !important; /* override running header */
  visibility: hidden; /* display:none breaks string-set: */
  font-size: 0;
  height: 0;
}
div.front-matter .front-matter-title-wrap > h1:first-of-type,
div.chapter .section-title-wrap > h2:first-of-type,
div.chapter .chapter-title-wrap > h2:first-of-type,
div.back-matter .back-matter-title-wrap > h1:first-of-type {
  font-size: 15pt;
  string-set: section-title content();
  counter-reset: footnote;
  margin-bottom: 20pt;
}
div.front-matter.preface .front-matter-title-wrap > h1:first-of-type,
#toc > h1:first-of-type {
  font-size: 15pt;
  margin-top: 2cm;
  margin-bottom: 2.5cm;
}
.front-matter-title,.back-matter-title{
  font-family: "Noto Serif",serif;
  font-style: italic;
  text-align: center;
}
div.front-matter .front-matter-title-wrap > h1:first-of-type,
div.back-matter .back-matter-title-wrap > h1:first-of-type {
  margin-top: 2cm;
  margin-bottom: 2.5cm;
}
 

 /* REFERENCE PRESSBOOKS TABLE OF CONTENTS CSS
======================= */
#toc {
  page-break-before: right;
  counter-reset: part;
  font-family: 'Noto Serif';
  font-size: 1.1em;
}
#toc h1 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
#toc a {
  border: none;
  color: inherit;
}
#toc ul, #toc li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#toc ul {
  counter-reset: chapter;
  line-height: 1.2em;
}
#toc li {
  position: relative;
}
#toc .front-matter,
#toc .back-matter {
  margin-bottom: 3px;
  font-style: italic;
  font-size: 0.9em;
}

#toc .front-matter .introduction {
  font-style: normal;
}

#toc a::after {
  content: leader(' ') target-counter(attr(href), page);
  font-style: italic;
  font-weight: lighter;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
}
#toc .front-matter a::after {
  content: leader(' ') target-counter(attr(href), page, lower-roman);
}
#toc .introduction a::after {
  content: leader(' ') target-counter(attr(href), page);
}
#toc .part {
  margin: .5cm 0 0;
  font-weight: 600;
}
#toc .part a::before {
  content: counter(part, upper-roman)". ";
  counter-increment: part;
  margin-right: 1em;
}


#toc .chapter a {
  padding-left: 25px;
}

#toc .chapter {
  margin-top: 0.5cm;
}
#toc .chapter a::before {
  content: counter(chapter) ". ";
  counter-increment: chapter;
  margin-right: 7pt;
  position: absolute;
  left: 0;
  top: 0;
}
#toc .part a::after {
  content:'' ;
}
#toc span.toc-chapter-title {
  display: inline-block;
  font-size: 0.9em;
  font-style: italic;
  font-weight:600;
  width: 70%;
}
#toc .chapter + .back-matter {
  margin-top: 1.3em;
}
#toc span.chapter-author,
#toc span.chapter-subtitle {
  display: inline-block;
  text-indent: 0;
  width: 70%;
}

#toc span.chapter-subtitle {
   font-size: 0.8em;
}

#toc span.chapter-author {
  font-family: "Alegreya SC", "Libre Baskerville", serif;
  text-transform: uppercase;
  font-size: 0.8em;
  position:relative;
}
/* TOC EDIT SOME MORE TWEAKS
==========================*/
#toc h1{
  margin-top: 20pt;
}
#toc .front-matter,
#toc .back-matter ,
#toc .chapter{
  margin-bottom: 8px;
  margin-top: 8px;
}
#toc .part{
  margin: 1em 0 0;
  font-size: 1.1em; 
  margin-bottom: 1.3em;
}
 #toc .chapter {
  margin-top: 1em;
 } 
#toc .chapter span.chapter-subtitle,
#toc .chapter span.chapter-author{
  margin-left: 20pt;
}
/* MOAR TRADITIONAL CSS
================== */

div.part, div.front-matter, div.back-matter, div.chapter {
  page-break-before: right;
}


.display-none, h3.front-matter-number, h3.back-matter-number {
  display: none;
}

h3.part-number, h3.chapter-number {
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 1em;
  text-transform: uppercase;
}

h3.part-number::before {
  content: "Part ";
}
h3.chapter-number {
  margin-bottom: 3em;
}
.aphorism {
  font-size: 1em;
    font-style: italic;
    margin: 0 auto 4em;
    width: 50%;
}
.aphorism cite {
    display: block;
    font-size: 0.875em;
    font-style: normal;
    font-variant: small-caps;
    text-align: right;
}
.aphorism cite::before {
  content: "–";
}

/* FOOTNOTES
* @see: http://www.princexml.com/doc/8.1/footnotes/
================== */

.footnote {
  font-size: 0.75em;
  display: none;
  display: footnote;
  display: prince-footnote;
  position: footnote;
  counter-increment: footnote;
  footnote-style-position: inside;
  margin: 0 0 5px 5px;
  padding-left: 10px;
  text-indent: -10px; 
  line-height: 1.4;
  text-align: left;
}
sup.endnote {
  line-height: 1em;
    vertical-align: top;
}

/* ENDNOTES
================== */
.endnotes hr {
  border: none;
  margin-top: 1cm;
}
.endnotes h3 {
  margin-bottom: 0;
}
.endnotes ol {
  font-size: 8pt;
  margin-top: 5px;
  margin-left: 0;
}
.endnotes li {
  padding-left: 2em;
  text-indent: -2em; 
}

.endnotes p + p {
  text-indent: 0;
}
/* CUT AND PASTE FROM EPUB FORTRESS.CSS
================== */

.aside {
  font-style: italic;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 2em 10%;
  padding: 10px 0;
  text-indent: 0;
}
.textbox {
  border: 0.75px solid #000;
  margin: 10px 0;
  padding: 10px;
  font-size: 0.9em;
  line-height: 1.1em;
}
.textbox.shaded {
  background-color: #eee;
}
.textbox p {
  margin-top: 0;
}
.textbox-caption {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
}

h2.chapter-title,
h2.chapter-subtitle,
h2.chapter-author {
  font-family: "Noto Serif", serif;
  text-align: center;
}

h2.chapter-title {
    font-weight: bold;
    font-style: italic;
    font-size: 1.6em;
    margin-top: 2.5cm;
    margin-bottom: 1em;
    line-height: 1.1em;
}

h2.chapter-subtitle {
  font-weight: normal;
  font-style: normal;
}
div.ugc h2.chapter-subtitle,
div.ugc  h2.chapter-author {
    font-size: 1.3em;
    font-style: normal;
    margin: -1.4em 0 3em;
}
div.ugc h2.chapter-subtitle {
    margin-bottom: 2.8em;
    padding-top: 1em;
}
div.chapter-ugc h2.chapter-author {
  font-family: "Alegreya SC",serif;
  font-style: normal;
  font-size: 1.3em;
  margin-top: 2em;
}
.pullquote {
  border: 1px solid #000;
  border-width: 1px 0;
  margin: 20px auto;
  padding: 5px 0;
  text-align: center;
  width: 45%;
}
.pullquote-left {
  border: 1px solid #000;
  border-width: 1px 0;
  float: left;
  margin: 15px 15px 15px 0;
  padding: 5px 0;
  text-align: center;
  width: 45%;
}
.pullquote-right {
  border: 1px solid #000;
  border-width: 1px 0;
  float: right;
  margin: 15px 0 15px 15px;
  padding: 5px 0;
  text-align: center;
  width: 45%;
}

/* IMAGES
================== */
img {
  height: auto;
  max-width: 100%;
}
.alignleft {
  float: left;
  margin: 1em 1em 1em 0;
}
.alignright {
  float: right;
  margin: 1em 0 1em 1em;
}
.aligncenter {
  display: block;
  margin: 1em auto;
  text-align: center;
}
div.aligncenter {
  display: block;
  margin: 1em auto;
  text-align: center;
}
img.aligncenter {
  display: block;
  margin: 1em auto;
  text-align: center;
}
.wp-caption {
  float: prince-top-if-necessary;
  height: auto;
  max-width: 100%;
  margin: 1em 0;
}
.wp-caption-text {
  font-size: 0.875em;
  line-height: 1.1em;
  font-style: normal;
  margin-top: 5px;
  text-align: left;
  margin: 1em 0;
}

/* BLOCKQUOTES
=============== */
div.blockquote {
  border-width: 0 4px;
  padding: 0 15%;
  margin-bottom: 2em;
}
p.bl_nonindent {
  margin: 2em 10% 0;
  text-indent: 0;
}
p.bl_indent {
  margin: 0 10%;
  text-indent: 1em;
}


/* BIBLIOGRAPHY
=============== */

.bibliography p {
  padding-left: 14pt;
  text-indent: -14pt;
}

/* INDEX
================== */
.index .ugc {
  column-count: 2;
  column-gap: 2.5em;
  text-align: left;

}
.index .ugc div {
  margin-bottom: 4em;
}
.index .ugc p {
  font-size: .95em;
  padding-left: 14pt;
  text-indent: -14pt;
  text-align: left;
}
.index .ugc p.sub-entry {
  padding-left:30px;
}

.dedication p,.epigraph{
  margin-top: 7cm;
  font-style: normal;
}
.section-title{

  text-transform: uppercase;
  font-size: 10pt;
  font-weight: normal;
}
.section-title::after{
  content:"";
  height:1px;
  background:#000;
  width:25%;
  display:block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

hr.break-symbols {
  border: none;
  font-size: 1.1em;
  margin-bottom: 20px;
}

hr.break-symbols::after {
  display: block;
  content: "\2605\ \2605\ \2605\ ";
  font-size: 10pt;
  text-align: center;
}

.skinny-image {
  float: top;
  display: block;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
} 

.chapter-title-wrap .chapter-title{
  text-align: center;
  font-weight: bold;
}
.chapter-title-wrap .chapter-number{
  text-align: center;
  font-weight: bold;
}

.ugc.chapter-ugc .chapter-subtitle{
  text-align: center;
  font-weight: 400;
}

.ugc.chapter-ugc .chapter-author{
  text-align: center;
}

h1.part-title{
 line-height: 50pt; 
}